[Unit]
Description=WASTE proxy
After=waste.service
Requires=waste.service

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP-LISTEN:${PROXY_BIND_ENDPOINT},reuseaddr,fork UNIX-CONNECT:${WASTE_SOCKET}

[Install]
WantedBy=default.target